<div class="grid grid-3col">

    <div class="flexcol grid-span-1" style="
    height: 312px;
">



        <div class="abilities flexcol">

            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
                <label for="system.abilities.{{key}}.value" class="resource-label rollable"
                    data-roll="@abilities.{{key}}.mod" data-roll-type="diff"
                    data-label="{{ability.label}}">{{ability.label}}</label>
            </div>
            <div class="flexrow flex-group-center">
                <a class="stat-display" data-stat-type="abilities" data-stat-key="{{key}}"
                    data-stat="{{json ability}}">{{ability.value}}
                    {{#if ability.bonus}} + {{ability.bonus}}{{/if}}</a>
            </div>
            {{/each}}

        </div>


    </div>
    <div class="items flexcol grid-span-2">
        <div class="dodge-block flexshrink grid grid-7col"><a class="dodge-button action-button grid-start-2"
                data-dodge-value="system.abilities.finesse.value">Dodge</a><a
                class="block-button action-button grid-start-4">Block</a></div><a class="cover-button action-button grid-start-6">Take Cover</a>
        <section>{{> "systems/kaiserschlacht/templates/actor/parts/actor-weapons.hbs"}}</section>
        <section>{{> "systems/kaiserschlacht/templates/actor/parts/actor-armor.hbs"}}</section>
        <section>{{> "systems/kaiserschlacht/templates/actor/parts/actor-items.hbs"}}</section>
    </div>

</div>