<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="resources flexrow">
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Wounds</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.stress.value" class="resource-label">Stress</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.stress.value" value="{{system.stress.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.stress.max" value="{{system.stress.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.sanity.value" class="resource-label">Sanity</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.sanity.value" value="{{system.sanity.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.sanity.max" value="{{system.sanity.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.skillPoints.value" class="resource-label">Armor</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.armor" value="{{system.armor}}" data-dtype="Number" /> {{#if
            system.tempArmor}} + {{system.tempArmor}} {{/if}}
          </div>
        </div>
        {{#each system.classStats as |classStat key|}}{{#with visible}}
        <div class="resource flex-group-center">
          <label for="system.classStats.{{key}}.value" class="resource-label">{{classStat.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.classStats.{{key}}.value" value="{{classStat.value}}" data-dtype="Number" />
          </div>
        </div>
        {{/with}}
        {{/each}}
        <div class="resource flex-group-center">
          <label for="system.attributes.skillPoints.value" class="resource-label">Skill Points</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.skillPoints.value"
              value="{{system.attributes.skillPoints.value}}" data-dtype="Number" />
          </div>
        </div>


      </div>
    </div>
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-effects.hbs"}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="actions">Stats</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="description">Biography</a>
    <a class="item" data-tab="features">Feats</a>
    <a class="item" data-tab="items">Gear</a>
    {{!a class="item" data-tab="spells">Spells</a>}}
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab actions" data-group="primary" data-tab="actions">
      <div class="stats grid grid-3col">
        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns. --}}
        <div class="abilities flexcol">

          {{#each system.abilities as |ability key|}}
          <div class="ability flexrow flex-group-center">
            <span class="resource-label rollable"
              data-roll="@abilities.{{key}}.mod" data-roll-type="diff"
              data-label="{{ability.label}}">{{ability.label}}</span>
          </div>
          <div class="flexrow flex-group-center">
            <a class="stat-display" data-stat-type="abilities" data-stat-key="{{key}}"
              data-stat="{{json ability}}">{{ability.value}}
              {{#if ability.bonus}} + {{ability.bonus}}{{/if}}</a>
          </div>
          {{/each}}

        </div>

        <div class="skills flexcol grid-span-2">

          {{#each system.skills as |skill key|}}
          <div class="skill flexrow flex-group-center">
            <span  class="resource-label rollable flexlarge align-left"
              data-roll="@skills.{{key}}.mod" data-roll-type="diff" data-label="{{skill.label}}">{{skill.label}}</span>
            <a class="stat-display" data-stat-type="skills" data-stat-key="{{key}}"
              data-stat="{{json skill}}">{{skill.value}}
              {{#if skill.bonus}} + {{skill.bonus}}{{/if}}</a>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-combat.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data
      to
      the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>
    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-armor.hbs"}}
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-items.hbs"}}
    </div>
    {{!-- Feats Tab --}}
    <div class="tab items" data-group="primary" data-tab="features">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    {{!<div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-spells.hbs"}}
      {{!</div>}}
    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>