<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

      <div class="resources grid grid-4col">


        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Wounds</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span>/</span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.meleeDie.value" class="resource-label rollable" data-roll="{{system.meleeDie.value}}"
            data-label="{{system.meleeDie.value}}">Melee</label><span>/</span><label for="system.meleeDie.value"
            class="resource-label rollable" data-roll="{{system.rangedDie.value}}"
            data-label="{{system.meleeDie.value}}">Ranged</label> <span> DC</span>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.meleeDie.value" value="{{system.meleeDie.value}}" data-dtype="String" />
            <span>/</span>
            <input type="text" name="system.rangedDie.value" value="{{system.rangedDie.value}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.armor" class="resource-label">Armor</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.armor" value="{{system.armor}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.cr" class="resource-label">XP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.cr" value="{{system.cr}}" data-dtype="Number" />
          </div>
        </div>
      </div>

    </div>
    </div>
  </header>
  <header class="sheet-header">
    <div class="resources grid grid-3col">
      <div class="resource flex-group-center">
        <label for="system.damage" class="resource-label clickable apply-damage-button" data-damage="{{system.damage}}"
          data-damage-tags="{{json system.damageTags}}">Damage</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.damageTags" class="resource-label">Traits</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.damageTags" value="{{json system.damageTags}}" data-dtype="JSON" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.range" class="resource-label">Range</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.range" value="{{system.range}}" data-dtype="String" />
        </div>
      </div>
    </div>
  </header>
  <header class="sheet-header">
    <div class="resources grid grid-3col">
      <div class="resource flex-group-center">
        <label for="system.speed" class="resource-label">Move</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.speed" value="{{system.speed}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.type" class="resource-label">Type</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.type" value="{{system.type}}" data-dtype="String" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.cr" class="resource-label">Target</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.targetNumber" value="{{system.targetNumber}}" data-dtype="Number" />
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/kaiserschlacht/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>