<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <div class="ability flexrow flex-group-center">
        <label for="system.{{statType}}.{{stat}}.value"
            class="resource-label flexlarge align-left">{{ability.label}}</label>
        <input type="text" name="system.{{statType}}.{{stat}}.value" value="{{stat.value}}" data-dtype="Number" />
        <span></span>
        <input type="text" name="system.{{statType}}.{{stat}}.bonus" value="{{stat.bonus}}" data-dtype="Number" />
        <span></span>
    </div>
</form>