<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <div class="ability flexrow flexshrink flex-group-center">
        <aside class="flexlarge align-left"></aside>
        <label class="resource-label">Base</label>
        <span></span>
        <label class="resource-label">Bonus</label>
        <span></span>
    </div>
    <div class="ability flexrow flex-group-center">
        <label for="system.{{statType}}.{{statKey}}.value"
            class="resource-label flexlarge align-left">{{stat.label}}</label>
        <input type="text" name="system.{{statType}}.{{statKey}}.value" value="{{stat.value}}" data-dtype="Number" />
        <span></span>
        <input type="text" name="system.{{statType}}.{{statKey}}.bonus" value="{{stat.bonus}}" data-dtype="Number" />
        <span></span>


    </div>
    <input class="submit-button flexshrink" type="submit" value="Submit" />
</form>