<div class="damage-card">
        {{#if flavor}}
        <div class="damage-flavor">{{flavor}}</div>
        {{/if}}
        {{#if armor}}
        <div><span class="dice-tn-label">Armor:</span> <strong>{{armor}} </strong></div>
        {{/if}}
        <div class="damage-result"><strong>{{recipient}} </strong>received <strong>{{totalDamage}}</strong> damage.
        </div>
        <div>{{#if armor}}{{#if ap}}{{recipient}}'s armor was {{#if beaten}}<span
                        class="dice-target-miss"><strong>damaged.</strong></span>{{else}}<span
                        class="dice-target-hit"><strong>not
                                damaged.</strong></span>
                {{/if}}{{#if pierced}}{{recipient}}'s armor was <span
                        class="dice-target-miss"><strong>Pierced.</strong></span>{{/if}}{{/if}}</div>
        <div class="flexrow"><a class="fa-solid fa-rotate-left undo-damage-button align-right clickable"
                        data-original-armor="{{armor}}" data-original-health="{{originalHealth}}"
                        data-uuid="{{uuid}}"></a>
        </div>
</div>