<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    {{#if targetNumber includeZero=true}}
    <div><span class="dice-target-number">TN: {{targetNumber}} </span>Result: {{#if degreeOfSuccess}}<span
            class="dice-target-hit"><strong>Hit</strong></span>{{else}}<span
            class="dice-target-miss"><strong>Miss</strong></span> {{/if}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>
</div>