<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    {{#if targetNumber includeZero=true}}
    <div><span class="dice-tn-label">TN:</span> <strong>{{targetNumber}} </strong>Result: {{#if degreeOfSuccess}}<span
            class="dice-target-hit"><strong>Success</strong></span>{{else}}<span
            class="dice-target-miss"><strong>Failure</strong></span> {{/if}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>
</div>
<div class="grid-2col"> {{#if damage includeZero=true}}<button class ="apply-damage-button" type="button">Apply {{damage}} Damage</button>{{/if}}{{#if reload}}<button class ="reload-button" type="button">Reload</button>{{/if}}</div>